<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/cerebrocarelogo.png') }}" rel="icon"/>

    <title>CEREBROCARE</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css')}}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon">
                    <img src="/static/img/cerebrocarelogo.png" class="img-fluid"alt="brainlogo">
                </div>
                <div class="sidebar-brand-text"><span class="color: #003366">CEREBRO</span>CARE</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Prediction                  
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/form">
                    <i class="fas fa-fw fa-pen-fancy"></i>
                    <span>Prediction Test</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                About Data
            </div>

            <!-- Nav Item - Data -->
            <li class="nav-item">
                <a class="nav-link" href="/data">
                    <i class="fas fa-fw fa-table"></i>
                <span>Data</span></a>
        </li>
         <!-- Nav Item - Utilities Collapse Menu -->
         <li class="nav-item">
            <a class="nav-link" href="/smote" >
                <i class="fas fa-fw fa-newspaper"></i>
                <span>SMOTE</span>
        </a>
        </li>
            <!-- Nav Item - Charts -->
            <li class="nav-item active">
                <a class="nav-link" href="/report">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Classification Report</span></a>
                </li>
                

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Maya Aulia</span>
                            <img class="img-profile rounded-circle"
                                    src="/static/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                        </li>
                        
                    </ul>
                    
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800 font-weight-bolder">Confusion Matrix</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-6 mb-4">
                            <div class="card shadow">
                                <div class="card-header font-weight-bolder ">
                                    Confusion Matrix Random Forest Classifier
                                </div>
                                <div class="card-body">
                                    <img src="/static/img/rfc.png" alt="" class="img-fluid">
                                </div>
                                <h6 class="font-weight-bolder px-4 py-2"> Akurasi = 0.9406392694063926</h6>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="card shadow">
                                <div class="card-header font-weight-bolder ">
                                    Confusion Matrix SMOTE dan Algoritma Genetika
                                </div>
                                <div class="card-body">
                                    <img src="/static/img/cm algen.png" alt="" class="img-fluid">
                                </div>
                                <h6 class="font-weight-bolder px-4 py-2"> Akurasi = 0.9751340809361287</h6>
                            </div>
                        </div>
                    </div>
                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; CerebroCare 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


</body>

</html>